/* Standard mobile layout given for iPhone X (375x812 pixels) */

$heading-color: hsl(0, 0%, 100%);
$content-color: hsla(0, 0%, 100%, 0.75);

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 740px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 15px;
    overflow: hidden;
}

.hero-image {
    background-image: linear-gradient(rgba(180, 67, 255, 0.5), rgba(180, 67, 255, 0.5)), url('images/image-header-mobile.jpg');
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    text-align: center;

    h1 {
        color: $heading-color;
        margin-bottom: 10px;

        font-size: 1.8em;

        .insight {
            color: hsl(277, 64%, 61%);
        }
    }

    p {
        color: $content-color;
        line-height: 1.7;
    }

    .stat-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 225px;

        .stat {
            h2 {
                color: $heading-color;
                margin: 5px;
            }

            p {
                color: $content-color;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin: 5px;
            }
        }
    }
}

@media screen and (min-width: 850px) {
    .container {
        display: flex;
        flex-direction: row-reverse;
        height: 400px;
        width: 850px;
    }

    .hero-image {
        flex: 1;
        height: 100%;
        background-image: linear-gradient(rgba(180, 67, 255, 0.5), rgba(180, 67, 255, 0.5)), url('images/image-header-desktop.jpg');
        background-size: 100% 400px;
        background-repeat: no-repeat;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        padding: 50px;
        text-align: left;

        .stat-bar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 80%;

            .stat {
                p {
                    font-size: 12px;
                }
            }
        }
    }
}

.attribution {
    margin-top: 30px;
    color: #fff;
    text-align: center;
}